name: Cargo Tests

on:
  - pull_request
  - push

env:
    LANDO_VERSION: v3.11.0

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Grab latest Lando CLI
              run: |
                    sudo curl -fsSL -o /usr/local/bin/lando "https://files.lando.dev/cli/lando-linux-x64-${LANDO_VERSION}"
                    sudo chmod +x /usr/local/bin/lando

            # App tests. Previous command return code can be checked with: echo $?
            - run: lando start
            - run: lando cargo fmt --all -- --check
            - run: lando cargo build --release
            - run: lando cargo test --verbose

